<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <table class="table" *ngIf="!cargando && items">
                <thead>
                    <tr>

                        <th scope="col">Nombre</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Fabricante</th>
                        <th scope="col">Precio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of items" id={{item.id}}>

                        <td>{{item.nombre}}</td>
                        <td>{{item.descripcion}}</td>
                        <td>{{item.categoria}}</td>
                        <td>{{item.fabricante}}</td>
                        <td>{{item.precio}}</td>
                    </tr>
                </tbody>
            </table>

            <!-- Mientras carga -->
            <div *ngIf="loading" class="alert alert-info text-center mt-3 animated fadeIn faster">
                <h4 class="alert-heading">Cargando</h4>
                <p>
                    <i class="fa fa-sync-alt fa-spin fa-2x"></i>
                </p>
                <p class="mb-0">
                    Espere por favor
                </p>
            </div>

        </div>
    </div>
</div>