<form [formGroup]="itemPropForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-md-12">
            Talle:
            <mat-button-toggle-group #group="matButtonToggleGroup" name="fontStyle" aria-label="Font Style"
                formControlName="talle">
                <mat-button-toggle value="1">1</mat-button-toggle>
                <mat-button-toggle value="2">2</mat-button-toggle>
                <mat-button-toggle value="3">3</mat-button-toggle>
                <mat-button-toggle value="4">4</mat-button-toggle>
                <mat-button-toggle value="5">5</mat-button-toggle>
                <mat-button-toggle value="6">6</mat-button-toggle>
                <mat-button-toggle value="7">7</mat-button-toggle>
                <mat-button-toggle value="4">8</mat-button-toggle>
                <mat-button-toggle value="4">9</mat-button-toggle>
                <mat-button-toggle value="4">10</mat-button-toggle>

            </mat-button-toggle-group>
        </div>
    </div>
<hr>
    <div class="row">
        <div class="col-md-12">
            Color:
            <mat-button-toggle-group #group="matButtonToggleGroup" name="fontStyle" aria-label="Font Style"
                formControlName="color">
                <mat-button-toggle value="1">1</mat-button-toggle>
                <mat-button-toggle value="2">2</mat-button-toggle>
                <mat-button-toggle value="3">3</mat-button-toggle>
                <mat-button-toggle value="4">4</mat-button-toggle>
            </mat-button-toggle-group>
        </div>

    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-primary" type="submit">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Agregar
            </button>
        </div>
    </div>
</form>