<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-md-12">
            <h5>Ventas</h5>
            <hr>


            <button type="button" class="btn btn-outline-primary itemsbtn" style="width: 120px; height: 120px;" [routerLink]="'/ventas/nueva'">
                <i class="fas fa-plus fa-2x"></i>
                <br>
                <small>NUEVA VENTA</small>
                <br>
            </button>


            <button type="button" class="btn btn-outline-primary itemsbtn" style="width: 120px; height: 120px;" [routerLink]="'/ventas/buscar'">
                <i class="fas fa-power-off fa-2x"></i>
                <br>
                <small>CERRAR CAJA</small>
                <br>
            </button>

        </div>
    </div>
    
</div>