<div class="row mt-3 mb-2">
    <div class="col-md-12">
        <div class="input-group">
            <input type="text"  (change)="search($event)" class="form-control" placeholder="Nombre del Item">
            <div class="input-group-append">
                <button type="submit" class="btn btn-secondary">Buscar</button>
            </div>
        </div>
    </div>
</div>
<div class="row mr-2">
    <div class="col-md-4">
        <mat-form-field>
            <mat-label>Fabricante</mat-label>
            <mat-select>
                <mat-option value="Opcion 1">
                    Opcion 1
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-md-4">
        <mat-form-field>
            <mat-label>Categoria</mat-label>
            <mat-select>
                <mat-option value="Opcion 1">
                    Opcion 1
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-md-4">
        <mat-form-field>
            <mat-label>Genero</mat-label>
            <mat-select>
                <mat-option value="Opcion 1">
                    Opcion 1
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>