<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">

        </div>
        <div class="col-md-3" style="border-left: 1px solid grey;">
            <table class="table table-borderless table-sm w-100">
                <tbody>
                    <tr>
                        <td>Subtotal</td>
                        <td style="width: 100px;">$ 0.00</td>
                    </tr>
                    <tr style="border-bottom: 1px solid lightgrey;">
                        <td>Descuentos</td>
                        <td>$ 0.00</td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-borderless table-sm w-100">
                <tbody>
                    <tr>
                        <td>Total</td>
                        <td style="width: 100px;">$ 0.00</td>
                    </tr>                    
                </tbody>
            </table>
            <button class="btn btn-primary w-100">Pago</button>
        </div>
    </div>
</div>