<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">

            <app-buscador></app-buscador>

            <div class="row">
                <div class="col-md-12">

                    <app-panel-items 
                        *ngFor="let item of items" 
                        [articulo]="item" 
                        (agregado)="onAgregar($event)"
                        >
                    </app-panel-items>
                </div>

            </div>
        </div>

        <div class="col-md-4">
            <app-panel-carrito 
                [carrito]="itemsCarrito" 
                (borrado)="onEliminar($event)"
                (devolucion)="onToggleDev($event)"
                >
            </app-panel-carrito>
        </div>

        <div class="col-md-3">
            <app-panel-total 
                [subtotalVenta]="subtotalVenta" 
                [descuentosVenta]="descuentosVenta"
                (pago)="cobrarDialog($event)" 
                >
            </app-panel-total>
        </div>

    </div>
</div>