<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
<div class="jumbotron jumbotron-fluid pt-1" *ngIf="!loading">
    <div class="container">

        <h1 class="display-4" style="font-size: 2rem;">
            <small>
                {{fechaCaja | date:'longDate' }}
            </small>
        </h1>
        <hr class="my-4">
        <div class="row ">
            <div class="col-md-3">

                <mat-card style="text-align: center;" class="m-2">
                    <h1 class="card-title pricing-card-title"> <small class="text-muted">$ </small>{{ totalVentas}}
                    </h1>
                    <small class="text-muted" style="font-size: medium;"> TOTAL VENTAS</small>
                </mat-card>
            </div>
            <div class="col-md-3">
                <mat-card style="text-align: center;" class="m-2">
                    <h1 class="card-title pricing-card-title"> {{ cantidadArticulos }}
                    </h1>
                    <small class="text-muted" style="font-size: medium;"> ARTICULOS</small>
                </mat-card>
            </div>

            <div class="col-md-3">

                <mat-card style="text-align: center;" class="m-2">
                    <h1 class="card-title pricing-card-title"> {{ cantidadVentas}}
                    </h1>
                    <small class="text-muted" style="font-size: medium;"> CANTIDAD VENTAS</small>
                </mat-card>
            </div>

            <div class="col-md-3">
                <mat-card style="text-align: center;" class="m-2">
                    <h1 class="card-title pricing-card-title"> 
                    </h1>
                    <small class="text-muted" style="font-size: medium;"> </small>
                </mat-card>
            </div>

        </div>
    </div>
</div>