<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-12">
            <h5>Items & Inventario</h5>
            <hr>    
            <ul>
                
                
                <button type="button" class="btn btn-outline-primary btn-lg">
                    <i class="fas fa-plus"></i>
                    <br>
                    
                    Nuevo
                    <br>
                </button>
                
            </ul>

        </div>

    </div>
</div>